@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@font-face {
    font-family: 'socialicoregular';
    src: url('socialico-webfont.woff2') format('woff2'),
         url('socialico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.suspension-contain {
	max-height: 980px;
	overflow:hidden;
	position: relative;
}
html.suspended {
	background: rgba(0,0,0,0.6);
}
body {
	/*font-family:"Century Gothic";
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Titillium Web', sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	max-width: 1440px;
	background: #FFF;
	margin:0 auto;
	padding:0;
	text-align: center;
	color:#FFF;
	font-size: 1em;
}
a {
	color:inherit;
	text-decoration: none
}
div,article,section,dl,dt,dd,table,tr,td,ul,ol,li,p,span,small,em,h1,h2,h3,h4,h5,h6,nav {
	padding:0;
	margin:0;
}
ul,ol {
	list-style: none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
header,
#banner,
#content,
#contact-section,
footer {
	width: 100%;
}
header {
	background: url(../images/common/hd-wrapper.jpg) repeat-x center top;
}
#banner {}
.bannerTop{
  	background: url(../images/common/bn-wrapper.jpg) no-repeat center top #E5E0DA;
    padding-bottom: 60px;
}
.bannerBot{
    background: url(../images/common/bnBot-wrapper.jpg) no-repeat center top #E5E0DA;
    background-size:100% 100%;
    border-bottom: 1px solid #C4BBA8;
}
.logo-text {background: url(../images/common/dark.png) no-repeat; background-size: 100%; padding-bottom: 20px;}
#contact-section {
	background: url(../images/common/contact-wrapper.jpg) no-repeat center top;
  background-size: cover;
}
footer {
	background: url(../images/common/ft-wrapper.jpg) repeat-x center top #E5E1D9;
}
.row {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

/*floats*/
.fl {
	float:left;
}
.fr {
	float:right;
}

/*clearings*/
.clear{
	clear:both;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size: 0;
}
.clearfix {
	display:block;
}

/*contact form messages*/
form .messages {
	display: none;
}
form .messages p {
	display: none;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: 400 !important;
	letter-spacing: 0 !important;
	font-size: 16px !important;
}
form .loading {
	display: none;
}
form .alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
form .alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
form .alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
form [type="submit"] {
	margin:20px auto;
}

/*contact form*/
.ctc-form {
	margin: 0 auto;
	text-align: center;
	max-width: 600px;
}
.ctc-form label span {
	display: block;
	padding: 5px 0 5px;
	font-size: 11px;
	line-height: 120%;
	text-transform: uppercase;
	text-align: left;
}
.ctc-form input,
.ctc-form textarea,
.ctc-form button {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 120%;
	color:#464C52;
	font-family: Arial, Helvetica, sans-serif;
}
::placeholder {
    color: #464C52;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #464C52;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #464C52;
}
.ctc-form input[type="text"],
.ctc-form textarea {
	width: 100%;
	border:1px solid #C4BBA8;
	box-sizing: border-box;
}
.ctc-form textarea {
	min-height: 53px;
	padding: 10px 0 0 10px;
}
.ctc-form input[type="text"] {
	height: 30px;
	padding: 0 0 0 15px;
}
.ctc-form button {
	width: 140px;
	height: 47px;
	font-size: 21px;
	color: #FFF;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-webkit-transition: background-color 2s ease-out;
	background: url(../images/common/helpBG.jpg) repeat-x center top;
}
.ctc-form button:hover {
	background: #AA9A62;
}
.ctc-form .g-recaptcha {
	display: inline-block;
	vertical-align: top;
	padding: 10px 0 15px;
}

/*gallery*/
#content .gallery-container {
	text-align: center;
}
#content .gallery {
	list-style-type: none
	margin: 0;
	padding: 0;
}
#content .gallery li {
	display: inline-block;
	vertical-align: top;
}
#content .gallery li img {
	width: 100%;
	max-width: 220px;
	border-radius: 10px;
}
#content .thumbnail {
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 4px;
	display: block;
	line-height: 1.42857;
	margin-bottom: 20px;
	padding: 4px;
	transition: border 0.2s ease-in-out 0s;
}
#content .page_navigation {
	display: inline-block;
}
#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
	background-color: #FFF;
	border: 1px solid #ddd;
	color: #0275d8;
	display: inline-block;
	line-height: 1.25;
	margin-left: -1px;
	padding: 0.5rem 0.75rem;
	position: relative;
}
#content .page_navigation > a:hover,
.page_navigation > a.active_page {
	background-color: #eceeef;
	border-color: #DDD;
	color: #014c8c;
	text-decoration: none;
}

/* navigation */
nav {
	padding: 0;
	color: #B6A56F;
	font-family: 'Roboto Condensed', sans-serif;
}
nav a#pull {
	display: none;
	padding: 15px 0 15px;
	font-size: 18px;
	line-height: 120%;
	font-weight: bold;
	text-transform: uppercase;
	background: url(../images/common/hd-wrapper.jpg) repeat-x center bottom #000040;
}
nav a#pull:after {
	content:"";
	background: url(../images/nav-icon.png) no-repeat;
	width:30px;
	height:30px;
	display:inline-block;
	position:absolute;
	right:15px;
	top:15px;
}
nav ul li,
nav ul li a {
	display: inline-block;
	vertical-align: top;
	transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-webkit-transition: background-color 2s ease-out;
}
nav ul li {
	font-size: 18px;
	line-height: 120%;
	font-weight: bold;
	text-transform: uppercase;
}
nav ul li a {
	min-height: 60px;
	padding: 16px 10px 0;
	box-sizing: border-box;
}
nav ul li.active-menu a,
nav ul li a:hover {
	color: #FFF;
}
/* end */

h1,
h2 {
	font-size: 21px;
	line-height: 120%;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}
p {
	font-size: 13px;
	line-height: 138%;
}

.logo
.first-image,
.cards,
.map-image {
	line-height: 0;
}
.logo img {
	width: 100%;
	max-width: 496px;
}
.first-image img {
	width: 100%;
	max-width: 300px;
}
.cards img {
	width: 100%;
	max-width: 192px;
}
.map-image img {
	width: 100%;
	max-width: 300px;
}
.cta {
	display: none;
}
/* header */
header .row {
	min-height: 65px;
	padding: 0;
}
header nav ul li:nth-child(3) {
	position: relative;
}
header nav .sub-nav {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.8);
}
header nav .sub-nav li a {
	min-height: auto;
  font-size: 15px;
	padding: 10px;
}
header nav ul li:nth-child(3).active-menu .sub-nav,
header nav ul li:nth-child(3):hover .sub-nav {
	display: inline;
}
/* end */

/* banner */
#banner .row {

}
#banner .logo,
#banner .number-text {
	display: inline-block;
	vertical-align: top;
}
#banner .logo {
	padding: 16px 100px 0 0;
	line-height: 0;
}

#banner .number-text {
	padding: 33px 0 0;
}
#banner .number-text p {
	display: inline-block;
	vertical-align: top;
	line-height: 120%;
	text-transform: uppercase;
}
#banner .number-text p:nth-of-type(1) {
	font-size: 14px;
	color: #BEB074;
	font-family: 'Roboto Condensed', sans-serif;
}
#banner .number-text p:nth-of-type(1) small {
	display: inline-block;
	font-size: 19px;
	line-height: 120%;
	font-weight: bold;
}
#banner .number-text p:nth-of-type(2) {
	font-size: 34px;
	font-weight: bold;
}

#banner .first-image {
	margin-top: -10px;
	line-height: 0;
}
#banner .first-image img {
	max-width: 960px;
}
#banner .call-text {
	margin: -113px 0 0 0;
	padding: 0 0 0 44px;
	text-align: left;
}
#banner .call-text p {
	display: inline-block;
	vertical-align: top;
	padding: 9px 15px 9px;
	font-size: 20px;
	line-height: 120%;
	border-radius: 5px;
	text-transform: uppercase;
	text-shadow: 0 0 5px #000;
	border: 1px solid #BBB176;
	background: url(../images/common/call-textBG.jpg) repeat-y left top #BAAE86;
}

#banner .services-section {
	padding: 111px 0 96px;
	color: #072763;
	font-family: Georgia, Times, "Times New Roman", serif;
}
#banner .services-section p {
	font-size: 21px;
	line-height: 150%;
	font-style: italic;
}
#banner .services-section dl {
	display: inline-block;
	vertical-align: top;
	width: 469px;
	margin: 20px 4px 0;
	padding: 10px 0 10px;
	font-size: 0;
	color: #FFF;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	background: url(../images/common/data-mainBG.jpg) repeat-y center top;
}
#banner .services-section dl dt,
#banner .services-section dl dd {
	display: inline-block;
	vertical-align: top;
}
#banner .services-section dl dt {
	line-height: 0;
}
#banner .services-section dl dt img {
	width: 100%;
	max-width: 208px;
}
#banner .services-section dl dd {
	width: 240px;
	min-height: 139px;
	padding: 12% 0 0;
	font-size: 24px;
	line-height: 120%;
	box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	transition: all .2s ease-in-out;
	background-image: url(../images/common/dataBG.jpg);
}
#banner .services-section dl dd a{
  transition: all 0.5s ease-in-out;
}
#banner .services-section dl:hover > dd a {
	font-size: 27px;
}
/* end */

/* content */
#content .row {
	min-height: 300px;
	padding: 65px 0 10px;
	color: #464C52;
}
#content h1,
#content h2 {
	color: #062663;
}
#content .services-category {
	padding: 0 0 40px;
}
#content .services-category section {
	display: inline-block;
	vertical-align: top;
	width: 226px;
	padding: 0 3px 0;
	text-align: left;
}
#content .services-category h2 {
	padding: 0 0 11px;
	color: #062663;
	background: url(../images/common/cat-border.jpg) no-repeat center bottom;
}

#content .services-category h2 span {display: block;}

#content .form-section {
	padding: 13px 0 0;
	color: #000646;
	border-top: 1px solid #C4BBA8;
	font-family: 'Roboto Condensed', sans-serif;
}
#content .form-section p {
	font-size: 24px;
	line-height: 120%;
}
#content .form-section p small {
	display: block;
	font-size: 36px;
	line-height: 120%;
	font-weight: bold;
}
#content .form-section .ctc-form {
	padding: 30px 0 0;
}
#content .form-section .ctc-form h2 {
	display: block;
	min-height: 6px;
	padding: 8px 0 10px;
	font-size: 36px;
	color: #FFF;
	font-weight: normal;
	box-sizing: border-box;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: url(../images/common/helpBG.jpg) repeat-x center bottom #000040;
}
#content .form-section .ctc-form .sub-container {
	padding: 20px 0 0;
	color: #464C52;
	border: 1px solid #D3CDC0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/common/formBG.jpg) repeat-x center bottom #F1F0EC;
}
#content .form-section .ctc-form .sub-container p {
	font-size: 14px;
	line-height: 120%;
}
#content .form-section .ctc-form .sub-container .left-input,
#content .form-section .ctc-form .sub-container .right-input {
	display: inline-block;
	vertical-align: top;
	width: 49.5%;
	padding: 0 10px 10px;
	box-sizing: border-box;
}
/* end */

/* content bottom */
#contact-section .row {
	padding: 287px 0 44px;
	color: #464C52;
	font-family: Georgia, Times, "Times New Roman", serif;
}
#contact-section .logo img {
	max-width: 797px;
}
#contact-section p {
	font-size: 18px;
	line-height: 120%;
}
#contact-section .alter-text {
	font-size: 24px;
}
#contact-section .alter-text small {
	display: inline-block;
	font-size: 24px;
	line-height: 120%;
	font-weight: bold;
	color: #062663;
}
/* end */

/* footer */
footer .row {
	padding: 0 0 10px;
	color: #464D52;
}
footer nav {
	padding: 0 0 15px;
}
/* end */
footer .silver img {
	display: inline-block;
	vertical-align: middle;
	max-width: 50px;
}
.media a,
.social-media a {
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: center top;
	transition: all 0.3s ease-in-out 0s;
}
.social-media a {
	font-size: 30px;
	line-height: 120%;
	font-family: 'socialicoregular';
}
.social-media a:hover {
	color: #006DB4;
}
.media a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.media a:nth-of-type(1) {
	background-image: url(../images/common/facebook.jpg);
}
.media a:nth-of-type(2) {
	background-image: url(../images/common/twitter.jpg);
}
.media a:nth-of-type(3) {
	background-image: url(../images/common/youtube.jpg);
}
.media a:nth-of-type(4) {
	background-image: url(../images/common/rss.jpg);
}
.media a:hover {
	background-position: center -40px;
}
.button {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	padding: 15px 0 15px;
	font-size: 21px;
	line-height: 120%;
	color: #FFF;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-webkit-transition: background-color 2s ease-out;
	background: url(../images/common/helpBG.jpg) repeat-x center bottom #000040;
}
.button:hover {
	background: #AA9A62;
}

.inner #content .row {
	max-width: 1200px;
	min-height: 720px;
	padding: 40px 15px 30px;
	text-align: left;
	box-sizing: border-box;
}
.inner #content h1,
.inner #content h2 {
	font-size: 50px;
}
.inner #content h3{
  font-size: 25px;
  margin: 10px auto;
  color: #062663;
}
.inner #content h1{font-size: 30px; border-bottom: 2px solid grey;padding-bottom: 10px;margin-bottom: 10px;}
.inner #content h2{font-size: 25px}
.inner #content h4{font-weight: bold;}
.inner #content p {line-height: 25px; margin-bottom: 10px;}
.inner #content ul{list-style-type: circle;padding: 0 0 0 20px ;}
.inner #content .inb{display: inline-block; vertical-align: top;}
.inner #content .attleft{width: 20%;}
.inner #content .attright{width: 79%;}
.inner #content .cntText{font-size: 20px; width: 33%;text-align: center;}
.inner #content .cntText small{display: block;}
.inner #content .atDesc{border-top: 1px solid grey;}
.inner #content .laws{margin: 30px auto;}
.inner #content h1.atName{font-size: 30px; border-bottom: 2px solid grey;padding-bottom: 10px;margin-bottom: 10px;}
.inner #content .resources{font-size: 20px; margin: 20px auto;word-break: break-all}
.inner #content .resources span{display: block;}
.home-icon{display: none;}
/* responsive */
/*Styles for screen 1024px and lower*/
@media screen and (max-width: 1024px) {
.row {
	max-width: 95%;
}
.cta {
		background: url('../images/common/phonecall.png') no-repeat center center #2664CC;
		border-bottom-left-radius: 40px;
		border-top-left-radius: 40px;
		bottom: 10%;
		display: block;
		height: 80px;
		position: fixed;
		right: 0;
		text-decoration: none;
		text-indent: -9999em;
		width: 100px;
		z-index: 999;
		box-shadow: 0 0 5px #000;
}

/* header */
header {
	padding: 0;
	background: none;
}
header .row {
	min-height: auto;
  max-width: 100%
}
header nav,
header .logo,
header .text {
	position:static;
}

/* navigation */
nav a#pull {
	display:block;
}
nav ul li,
nav ul li a {
	display: block;
}
/* nav ul li {
	padding: 0 15px 0 !important;
} */
nav ul li a {
	min-height: auto;
	padding: 15px 0 15px !important;
	background: url(../images/common/hd-wrapper.jpg) repeat-x center bottom #000040;
}
header nav ul {
	display:none;
}
header nav .sub-nav {
	display: none !important;
	top: 50px;
	width: 100%;
	background: none;
}
header nav ul li:nth-child(3).active-menu .sub-nav,
header nav ul li:nth-child(3):hover .sub-nav {
	display: inline !important;
}
/* end */

/* banner */

#banner .services-section {

}
.bannerTop{
  	background: unset;
}
#banner .row{max-width: 100%}
#banner .logo {
	padding: 16px 15px 0;
}
#banner .call-text {
	padding: 0 15px 0;
	text-align: center;
}
.logo-text {
	padding: 0 0 15px;
	background: rgba(0, 0, 0, 0.8);
}

#banner .first-image {
	padding: 0;
}
#banner .services-section dl{
  max-width: 95%;
  padding:10px
}
#banner .services-section dl dd:hover{
  transform: unset;
}
#banner .call-text p {
  margin: 135px 0 -90px;
}
/* end */

/* content */
#content .row {
	width:100%;
}
/* end */

/* content bottom */
/* end */

/* footer */
footer {
	background: none;
}
footer .row{
  max-width: 100%;
}
footer p{
  max-width: 95%; margin: 0 auto;
}
/* end */
.inner #content .inb{display: block; width: 95%;}
.inner #content .attleft{text-align: center;}
.home-icon{display: block;position: fixed;max-width: 45px; z-index: 99999; top: 0px;left: 10px;}
}
.ctc-form .g-recaptcha{transform: scale(0.8);}
@media only screen and (max-width : 640px) {
  #content .form-section .ctc-form .sub-container .left-input,
  #content .form-section .ctc-form .sub-container .right-input {
  	width: 100%;
  }
}
/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
/* banner */
#banner .services-section dl {
	width: 100%;
}
#banner .services-section dl dt,
#banner .services-section dl dd {
	width: 50%;
	box-sizing: border-box;
}
#banner .services-section dl dt img {
	min-height: 139px;
}
/* end */
/* content */
/* end */
}

@media only screen and (max-width : 360px) {

}
/*Smartphone*/
@media only screen and (max-width : 320px) {
/* form */
.ctc-form .cap-cover {
	transform: scale(0.7);
}
/* end */

/* end */

.rc-anchor-light.rc-anchor-normal {}
